Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Maps/MainMenu_BuiltData.uasset
Content/Maps/JungleTemple_BuiltData.uasset
Content/Maps/SacredField_BuiltData.uasset
Content/TopDownBP/Maps/TopDownExampleMap_BuiltData.uasset
